/* General body styling */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  background-color: #2c3e50;
  color: white;
  padding: 2em 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content h1 {
  margin: 0;
  font-size: 3em;
  font-weight: bold;
}

.header-content h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 10px;
}

/* Main content layout */
.main-container {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

/* Sidebar styling */
.sidebar {
  background-color: #34495e;
  color: white;
  padding: 25px;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2em;
  padding: 10px 15px;
  display: block;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #5d6d7e;
  font-weight: bold;
}

/* Main content styling */
main {
  flex-grow: 1;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

main h2 {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 20px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: white;
  font-size: 1.1em; /* Slightly larger font for better readability */
}

table th,
table td {
  padding: 15px 20px; /* Increase padding for better spacing */
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Prevent text overflow */
}

table th {
  background-color: #2c3e50;
  color: white;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #c7d1db;
  opacity: 1;
}

table td a {
  color: #3498db; /* Light blue for links */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

table td a:hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 2em;
  font-size: 0.9em;
  width: 100%;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    padding: 0 10px;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .sidebar ul li a {
    font-size: 1.1em;
  }

  main {
    padding: 20px;
  }

  table th, table td {
    padding: 12px 15px;
  }
}
